<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers</title>
</head>
<body>
    <nav class="navibar1">Home</nav>
    <nav class="navibar2">Beers</nav>
    <nav class="navibar3">Random Beers</nav>
    
    <div class="mainbod">
        {{{body}}}
    </div>
</body>
</html>